{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocol options{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row" >
            <div class='col-md-12' style="margin-left: 2%;" >
                <h1 class="page-header">{% trans %}Conflict of Interest Declaration{% endtrans %}</h1>
            </div>
        </div>

        <!-- action -->
        <form method="POST" id='form-action' enctype="multipart/form-data"  action='{{ path("protocol_conflict_of_interest", {protocol_id: protocol.id}) }}' >

            <input type="hidden" name="token" value="{{ csrf_token('conflict-of-interest') }}"/>
            <div style="margin: 0 2%;text-align: justify;">
                As a member of the Research Ethical Review Committee or as a reviewer, I hereby declare that I have no conflicts of interest that could influence my decisions or actions as a member of this committee in reviewing the following research or project. I confirm that I have no financial, personal, or professional relationships that may pose a conflict of interest or bias towards the following research proposal or research project to be reviewed by the committee. If any conflict of interest arises during the course of my membership, I will promptly disclose it to the committee and recuse myself from any decision-making related to the matter. I understand the importance of maintaining impartiality and objectivity in my role as a committee member to ensure the integrity and ethical standards of the research reviewed by the committee.
                
                {% include 'Proethos2CoreBundle:Protocol:protocol_header.html.twig' %}
            </div>
            <div class='row'>
                <div class='submission-button-controls col-md-12' style="margin-left: 2%;">
                    <button name="accept" type="submit" class='btn btn-primary' data-toggle='modal' data-target='#modalConfirm'>{% trans %}I Agree, I have no conflict of interest{% endtrans %}</button>
                    <button name="reject" type="submit" class='btn btn-secondary' data-toggle='modal' data-target='#modalConfirm'>{% trans %}I Disagree, I do have conflict of interest {% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#button-submit").on('click', function(){
                $("#form-action").submit();
            });

            var monitoring_period = $("#select-monitoring-period").closest('.row');
            monitoring_period.hide();
            $("#select-final-decision").change(function(){
                var value = $(this).val();
                if(value == "A") {
                    monitoring_period.show();
                } else {
                    monitoring_period.hide();
                }
            });
        });
    </script>
{% endblock %}
