symphony/web/bundles/
symphony/app/bootstrap.php.cache
symphony/app/cache/*
symphony/app/config/parameters.yml
symphony/app/logs/*
!symphony/app/cache/.gitkeep
!symphony/app/logs/.gitkeep
symphony/app/phpunit.xml
symphony/build/
symphony/vendor/
symphony/bin/
symphony/composer.phar
symphony/composer.lock
*~

symphony/src/Proethos2/CoreBundle/Resources/public/uploads/*
symphony/uploads/
!symphony/uploads/.htaccess
symphony/web/uploads/*
symphony/web/phpmyadmin/
symphony/.env
symphony/app/sessions/
symphony/app/sessions/*
symphony/.idea/encodings.xml
symphony/.idea/CMHS-REAMS.iml
symphony/.idea/misc.xml
symphony/.idea/modules.xml
symphony/.idea/php.xml
symphony/.idea/workspace.xml
symphony/.idea/vcs.xml
deploy.sh
