{% extends "::base.html.twig" %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
     <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h2 class="page-header">{% trans %} Terms and Conditions - Research Ethical Application Management System {% endtrans %}</h2>
            </div>
        </div>
        <div class="m2">
            Please carefully read the following Terms and Conditions ("Terms") before submitting your research/project work through the Research Ethical Application Management System ("Application System"). By submitting your research/project work, you agree to be bound by these Terms.

            <h4>1. Investigator's Obligations:</h4>
            <p>
                1.1. By submitting your research/project work through the Application System, you acknowledge that you are the author or co-author of the submitted work, and you have the necessary rights and permissions to submit the content.
            </p>
           <p>
                1.2. You agree to provide accurate and complete information in the submission form and any accompanying documents.
            </p>
            <p>
                1.3. You must comply with all applicable laws, regulations, and ethical guidelines related to research and academic integrity.
            </p>

            <h4>2. Ownership and Use of Submitted Information:</h4>
            <p>
                2.1. You retain ownership of your research/project work submitted through the Application System.
            </p>
            <p>
            2.2. By submitting your research/project work, you grant us a non-exclusive, worldwide, royalty-free license to use, store, reproduce, distribute, and display the submitted information for the purpose of conducting ethical reviews and assessments.
            </p>
            <p>
            2.3. We may use the submitted information for internal research, statistical analysis, and improvement of the Application System. However, any data used for such purposes will be anonymized to protect your privacy.
            </p>
            <h4>3. Confidentiality:</h4>
            <p>
            3.1. We will treat all submitted information as confidential and will only share it with authorized personnel involved in the ethical review process.
            </p>
            <p>
            3.2. However, we may disclose the submitted information if required by law or if there is a potential violation of these Terms or any applicable laws or regulations.
            </p>
            <h4>4. Data Security:</h4>
            <p>
            4.1. We will take reasonable measures to safeguard the submitted information against unauthorized access, disclosure, or alteration.
            </p>
            <p>
            4.2. Despite our best efforts, we cannot guarantee the absolute security of the Application System, and you acknowledge the inherent risks of transmitting information online.
            </p>
            <h4>5. Retention of Submitted Information:</h4>
            <p>
            5.1. We will retain the submitted information for as long as necessary to fulfill the purpose of the ethical review process and comply with legal obligations.
            </p>
            <p>
            5.2. After the retention period ends, we may retain anonymized data for research and statistical purposes, but any personal identifying information will be removed.
            </p>
            <h4>6. Modifications to the Terms:</h4>
            <p>
            6.1. We reserve the right to modify or update these Terms at any time.
            </p>
            <p>
            6.2. If we make significant changes to the Terms, we will notify you through the email address provided during submission or through the Application System.
            </p>
             <h4>7. Termination: </h4>
            <p>
            7.1. You may request the withdrawal of your research/project work from the Application System at any time by contacting us.
            </p>
            <p>
            7.2. We reserve the right to suspend or terminate your access to the Application System if you violate these Terms or engage in any unethical or unlawful conduct.
            </p>
             <h4>8. Governing Law and Jurisdiction: </h4>
            <p>
            8.1. These Terms shall be governed by and construed in accordance with the laws.
            </p>
            <p>
            8.2. Any disputes arising from or related to these Terms shall be subject to the exclusive jurisdiction of the courts.
            </p>
            <p>
                By submitting your research/project work through the Application System, you affirm that you have read, understood, and agree to abide by these Terms and Conditions. If you do not agree with any part of these Terms, please refrain from using the Application System.
            </p>
        </div>
    </div>
{% endblock %}
